.loading-text{
    font-size: 56px;
    @apply font-bold text-gray-dark
}

.loading{
    @apply flex gap-2
}

.loading .dot:first-child{
    animation-delay:0.2s
}
.loading .dot:nth-child(2){
    animation-delay:0.4s
}
.loading .dot:nth-child(3){
    animation-delay:0.6s
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: dotPulse 0.5s ease-in-out infinite;
    opacity: 0.7;

    @apply bg-gray-dark
}

@keyframes dotPulse {

    0%,
    45% {
        transform: translateY(0);
    }

    28% {
        opacity: 0.4;
        transform: translateY(-4px);
    }

    45% {
        opacity: 0.2;
    }
}
